$redColor: hsl(0, 61%, 62%);
$fSize: 16pt;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  background-image: url("../imagenjapon.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100vh;
}
.login-container {
  padding: 1.5em;
  min-width: min(100%, 50%);
  background: #fff;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 10px 0px 15px 15px rgba(41, 18, 22, .6),
              -10px 0px 15px 15px rgba(41, 18, 22, .5);
  .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; height: 100%;
    gap: 1em;
    h3 {
      grid-column: span 2;
      font-size: 3.6em;
    }
    input {
      grid-column: span 2;
      padding: .5em 0; margin: .3em 0;
      border: none;
      border-bottom: 3px dashed $redColor;
      font-size: 1.2em;
      background: transparent;
      &:focus {
        outline: none;
      }
    }
    button {
      text-transform: uppercase;
      padding: 1em;
      background-color: transparent;
      border: 2px solid $redColor;
      border-radius: 4px;
      z-index: 0;
      font-weight: 700;
      transition: all 500ms ease;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: $redColor;
        transition: all 500ms ease;
        z-index: -1;
      }
      &:hover {
        animation: shadow-pulse 1000ms 1;
        background-color: $redColor;
      }
    }
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 $redColor;
  }
  100% {
    box-shadow: 0 0 8px 16px $redColor;
  }
}
@media screen and (max-width: 450px) {
  .login-container {
    width: 100%; height: 100%;
    background: rgba( 255, 255, 255, .4);
  }
  .formulario {
    align-content: center;
  }
}
